#rf_type_fg{
    margin-bottom: 0px;
}

#btnBsq{
    height: 45px;
}

#btnAddDx{
    width: 35px !important;
}

.section2{
    display: none;
}

.dxcont .number {
    width: 45px;
    height: 45px;
    border-radius: 0.6rem;
    background-color: #00a3c0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-top: 5px;
}

.dxcont div:nth-child(2){
    flex-grow: 1;
}

@media (max-width: 1023px) {
    #btnBsq{
        margin-top: 10px !important;
        height: 35px;
    }
    .dxcont .number {
        width: 55px;
        height: 35px;
        margin-top: 20px;
    }
    .fs .row div{
        padding-right: 3px !important;
        padding-left: 3px !important;
    }
}
